.contect-box {
  background-image: url(./components/assets/ContactBg.jpg);
  background-size: cover;
}
.form-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #97c8fd;
  max-width: 600px;
  margin: 50px auto;
}
.form-title {
  margin-bottom: 20px;
}
.btn-custom {
  background-color: #007bff;
  color: #ffffff;
}
.input-custom {
  border: 2ps solid #007bff;
}
.btn-custom:hover {
  background-color: #0056b3;
}
.card-heading {
  color: rgb(146, 198, 253);
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 33px;
}
.about-text {
  color: rgb(110, 150, 250);
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
}
.icon02 {
  width: 2.8rem;
  height: 2.8rem;
}
.input-headings {
  color: #007bff;
  font-weight: 600;
  font-size: 1.2rem;
}



.requestPage{
  height: 100vh;
  background-color: #c4dcf4;
}
.downladbtn{
  border: none;
  background-color: #007bff;
  padding: 12px 12px;
  box-shadow: .2px .2px 12px rgb(255, 255, 255);
  color: white;
  font-weight: bolder;
  border-radius: 8px;
  transition: all 1s ease-in;
}

.downladbtn:hover{
  transition: background-color;
}
.alrtmsg{
  color: rgb(0, 0, 0);
}